info_mule/src/main/mule/info_mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b07f80f4-550c-4a44-bb5c-a145274fca23" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="info_muleFlow" doc:id="ff65b219-1249-4037-b8df-36c684d35c17" >
		<http:listener doc:name="Listener" doc:id="74bdc74c-c3f2-41e1-8989-20c4c211ead1" config-ref="HTTP_Listener_config" path="msg"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="c06b000c-1deb-4535-99d4-9011ab53ee10" />
		<ee:transform doc:name="Transform Message" doc:id="b5fc310d-3622-4d42-a6be-bfe4efbc2501" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var name= attributes.queryParams.name
var date=now()as String {format:"MM-dd-yy"}
var bk="hello world"
---
"hello " ++ name ++ "welcome to mulesoft, today is " ++ date]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
